{% extends 'Base.html' %}

{% block title %} DashBoard {% endblock %}

{% block content %}
<p>
    Here, we can place all images that we want to show on our website
    to make it appealing to the user. This will be an overview of all the facilities and services that are offered.
</p>
<br />
<p>
    We can place caveats here to ask the user to login so that they can access the services offered by our website.
</p>
<h2>
    Just to be clear, this is the DashBoard where we can allow users to book hotels.
</h2>
{% endblock %}