{% extends 'Base.html' %}

{% block title %} DashBoard {% endblock %}

{% block content %}


<div class="dashboard">

    <!-- Sidebar -->
    
    <section class="sidebar">
        <a href="">Hotels in your area</a>
        <a href="">Profile details </a>
    </section>

    <section class="main-page">
        <h2>Welcome *User's name*</h2>

        <div class="area-hotels">
            <div class="area-hotel">
                <img src="" alt="">
                <div class="name"></div>
                <div class="location"></div>
            </div>
        </div>
    </section>

</div>

<!-- Hotels close to you -->

<!-- user profile -->


{% endblock %}