{% extends 'Base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}

<div class="landing">
    <h1>Welcome to OurName.ng</h1>
    <h4>Find and book hotels anywhere in Nigeria</h4>
    <form action="" class="search">
        <img src="../static/search.png" alt="" class="search-icon">
        <input type="text" name="" class="search-text" placeholder="find a hotel">
        <button class="search-btn">Find Hotels</button>
    </form>
</div>


<!-- Services section -->

<section class="home-services">
    <h2>What Services We Offer</h2>
    <div class="services-cards">
        <div class="services-card">Easy Booking</div>
        <div class="services-card">Amenities</div>
        <div class="services-card">Support Team</div>
        <div class="services-card">Competitive Pricing</div>
        <div class="services-card">24/7 Availability</div>
    </div>
</section>


<!-- popular locations -->

<section>
    <h3 class="popular-hotel-header">Popular Hotels to visit in Nigeria</h3>
    <div class="popular-hotel-container">
        <div class="popular-hotel">
            <img src="../static/images/Hilton.webp" alt="">
            <div>Transcorp Hilton, Abuja</div>
        </div>
        <div class="popular-hotel">
            <img src="../static/images/WheatBaker.webp" alt="">
            <div>The WheatBaker Hotel, Lagos</div>
        </div>
        <div class="popular-hotel">
            <img src="../static/images/Eko-Hotel.webp" alt="">
            <div>Eko Hotel and Suites</div>
        </div>
        <div class="popular-hotel">
            <img src="../static/images/Oriental.webp" alt="">
            <div>Lagos Oriental Hotel</div>
        </div>
        <div class="popular-hotel">
            <img src="../static/images/Sheraton.webp" alt="">
            <div>Sheraton Hotels</div>
        </div>
        <div class="popular-hotel">
            <img src="../static/images/Federal-palace.webp" alt="">
            <div>Federal Palace Hotel and Casino</div>
        </div>
    </div>
</section>


<!-- deals -->

<section class="special-deals">
    <h3>Special Hotel Deals and Offers</h3>
    <div>Enter your email address to recieve extra-special hotel deals</div>
    <div class="subscribe">
        <form action="">
            <input type="email" name="Email" class="email-text" placeholder="Enter your email address">
            <button type="submit" class="subscribe-btn">Subscribe</button>
        </form>
    </div>
</section>


{% endblock %}