{% extends 'Base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}

<div class="landing">
    <h1>OurName.ng</h1>
    <h4>Find and book hotels anywhere in Nigeria, all without leaving your favorite couch</h4>
    <form action="" class="search">
        <img src="../static/search.png" alt="" class="search-icon">
        <input type="text" name="" class="search-text" placeholder="find a hotel">
        <button class="search-btn">Find Hotels</button>
    </form>
</div>


<!-- Services section -->

<section class="home-services">
    <h2>Our Services</h2>
    <div class="services-cards">
        <div class="services-card">Easy Booking</div>
        <div class="services-card">Support Team</div>
        <div class="services-card">Zero Stress</div>
        <div class="services-card">Competitive Pricing</div>
        <div class="services-card">24/7 Availability</div>
    </div>
</section>


<!-- About Section -->

<section class="about-section">
    <h4>About Hotels.ng</h4>
    <p>
        Our team at Hotels.ng saw the problems of neglect and lack of attention the tourist section of Nigeria faced. And as students of <a href="">Alx SE Africa</a>, we knew we had the technical know-how to help improve the online experience of prospective tourists. Hence, <b>Hotels.ng</b> was born
    </p>
    <p>
        Hotels.ng was inspired from a desire to bridge the gap between Hotels and their guests, a need to help tourists find a place to rest in an unfamiliar country.
    </p>
</section>



<!-- Our team -->

<section class="team-section">
    <h3>Our Team</h3>
    <div class="team-member-container">
        
        <div class="team-member">
            <div class="member-desc">
                <img src="../static/Malvin.jpg" alt="">
                <div class="member-name">Malvin Muthuuri</div>
            </div>
            <div class="team-socials">
                <a href="https://github.com/malvinmuthuuri47" class="github">
                    <img src="../static/github.png" alt="">
                </a>
                <a href="https://twitter.com/Malvin2572" class="twitter">
                    <img src="../static/twitter.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/malvin-m-005a8a253" class="linkedin">
                    <img src="../static/linkedin.png" alt="">
                </a>
            </div>
        </div>

        <div class="team-member">
            <div class="member-desc">
                <img src="../static/Ifedolapo.jpg" alt="">
                <div class="member-name">Ifedolapo Omoniyi</div>
            </div>
            <div class="team-socials">
                <a href="https://github.com/ifedolapoomoniyi" class="github">
                    <img src="../static/github.png" alt="">
                </a>
                <a href="https://twitter.com/ife_ifedolapo" class="twitter">
                    <img src="../static/twitter.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/ifedolapo-omoniyi/" class="linkedin">
                    <img src="../static/linkedin.png" alt="">
                </a>
            </div>
        </div>
        
        <div class="team-member">
            <div class="member-desc">
                <img src="" alt="">
                <div class="member-name">Benjamin Princewill</div>
            </div>
            <div class="team-socials">
                <a href="https://github.com/generalblaze" class="github">
                    <img src="../static/github.png" alt="">
                </a>
                <a href="https://twitter.com/benii_silva" class="twitter">
                    <img src="../static/twitter.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/fafaa-princewill-4632bb271/" class="linkedin">
                    <img src="../static/linkedin.png" alt="">
                </a>
            </div>
        </div>

    </div>

</section>



<!-- github link -->

<div class="github-link">
    Project code, an extensive description and challenges are all contained <a href="https://github.com/malvinmuthuuri47/portfolio_project/tree/main">here</a>
</div>



<!-- deals -->

<section class="special-deals">
    <h3>Special Hotel Deals and Offers</h3>
    <div>Enter your email address to recieve extra-special hotel deals</div>
    <div class="subscribe">
        <form action="">
            <input type="email" name="Email" class="email-text" placeholder="Enter your email address">
            <button type="submit" class="subscribe-btn">Subscribe</button>
        </form>
    </div>
</section>


{% endblock %}