{% extends 'Base.html' %}

{% block title %} Pricing {% endblock %}

{% block content %}

<form action="" class="search">
    <img src="../static/search.png" alt="" class="search-icon">
    <input type="text" name="" class="search-text" placeholder="Find a hotel">
    <button class="search-btn">Find Hotels</button>
</form>


<!-- Top Deals -->

<section class="top-deals-container">
    <h3>This Week's Top Deals</h3>
    <p>A selection of the best deals, only available this week</p>
    <div class="top-deals">
        <a href="" class="top-deal">
            <img src="../static/images/Eko-Hotel.webp" alt="">
            <div class="percentage-off">Up to 19% off</div>
            <div class="top-deal-name">Eko Hotel and Suites</div>
            <div class="location"><img src="../static/location.png" alt=""> Victoria Island, Lagos</div>
        </a>
        <a href="" class="top-deal">
            <img src="../static/images/Eko-Hotel.webp" alt="">
            <div class="percentage-off">Up to 19% off</div>
            <div class="top-deal-name">Eko Hotel and Suites</div>
            <div class="location"><img src="../static/location.png" alt=""> Victoria Island, Lagos</div>
        </a>
        <a href="" class="top-deal">
            <img src="../static/images/Eko-Hotel.webp" alt="">
            <div class="percentage-off">Up to 19% off</div>
            <div class="top-deal-name">Eko Hotel and Suites</div>
            <div class="location"><img src="../static/location.png" alt=""> Victoria Island, Lagos</div>
        </a>
        <a href="" class="top-deal">
            <img src="../static/images/Eko-Hotel.webp" alt="">
            <div class="percentage-off">Up to 19% off</div>
            <div class="top-deal-name">Eko Hotel and Suites</div>
            <div class="location"><img src="../static/location.png" alt=""> Victoria Island, Lagos</div>
        </a>
        <a href="" class="top-deal">
            <img src="../static/images/Eko-Hotel.webp" alt="">
            <div class="percentage-off">Up to 19% off</div>
            <div class="top-deal-name">Eko Hotel and Suites</div>
            <div class="location"><img src="../static/location.png" alt=""> Victoria Island, Lagos</div>
        </a>


        
    </div>
</section>









<!-- <p>
    Welcome. In this page, you will find the specific details of each and every facility we have along with the prices and services offered at each facility.
</p>
<p>
    We can implement pricing in this page and segment each hotel providing specific details about each facility we might include in this page.
</p>
<h3>
    We can show users the prices of various bookings without them having to login here but to book, they will be required to login/signup.
    It will be similar to the dashboard only that in the dashboard page, the user will be able to book a hotel so let's advertise the amenities in this page.
</h3> -->
{% endblock %}