{% extends 'Base.html' %}

{% block title %} Hotels in Your Area {% endblock %}

{% block content %}
    <h2>Search Results:</h2>
    {% if hotels_location %}
        <ul>
            {% for hotel in hotels_location %}
                <p><img src="{{ url_for('static', filename='images/' + hotel.image) }}" alt="Hotel image" class="search-img"></p>
                <h4> {{ hotel.name }} </h4>
                <div><img src="../static/location.png" alt="">{{ hotel.address }}, {{ hotel.location }}</div>
                <p>Price: {{ hotel.price }} $</p>
                <p>Services: {{ hotel.services }}</p>
                <p></p>
            {% endfor %}
        </ul>
    {% elif hotels_price %}
        <ul>
            {% for hotel in hotels_price %}
            <p><img src="{{ url_for('static', filename='images/' + hotel.image) }}" alt="Hotel image" class="search-img"></p>
            <h4> {{ hotel.name }} </h4>
            <div><img src="../static/location.png" alt="">{{ hotel.address }}, {{ hotel.location }}</div>
            <p>Price: {{ hotel.price }} $</p>
            <p>Services: {{ hotel.services }}</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hotels found within that area</p>
    {% endif %}

    <br />
    <a href="{{ url_for('views.dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
{% endblock %}